.imgCenter {
  width: 50%;
  height: 50%;
}

.imgSmall {
  margin: 5px;
  width: 10%;
  height: 10%;
}

.imgSmall:hover{
  transform: scale(1.01);
  box-shadow: 0 0 0.4em black;
}


.divCenter1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.divScroll {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


.divCenter {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.divCenterFlex {
  display: flex;
  justify-content: center;
}
