.imgCenter {
  width: 50%;
  height: 50%;
}

.imgSmall {
  margin: 5px;
  width: 10%;
  height: 10%;
}

.divCenter1 {
  width: 50%;
  display: flex;
  justify-content: center;
}

.divScroll {
  width: 50%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


.divCenter {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
}

.divCenterFlex {
  display: flex;
  justify-content: center;
}
