<div class="divCenterFlex">
  <mat-card class="col-lg-6">
    <div class="divCenter1">
      <img [src]="'data:image/jpg;base64,'+defaultImg" class="imgCenter" *ngIf="defaultImg">
    </div>
    <div [ngClass]="{divCenter1: product.images.length <= 5, divScroll: product.images.length > 5}">
      <img class="imgSmall"
           *ngFor="let image of product.images"
           [src]="'data:image/jpg;base64,'+image"
           (mouseover)="OnOver(image)">
    </div>
  </mat-card>

  <mat-card class="col-lg-6">
    <mat-card-title>
      <span>{{product.name}}</span>
    </mat-card-title>
    <mat-card-content>
      <table class="table">
        <thead>
        <tr>
          <th>Ingrédients de Base</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <mat-checkbox *ngFor="let a of description" [checked]="a.checked" (change)="setChange(a)">{{a.ingredient}}</mat-checkbox>
          </td>
        </tr>
        </tbody>
      </table>

      <table class="table">
        <thead>
        <tr>
          <th>Ingrédients supplémentaire</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <mat-checkbox *ngFor="let a of ingredients" [checked]="a.checked" (change)="setChange(a)">{{a.ingredient}}</mat-checkbox>
          </td>
        </tr>
        </tbody>
      </table>

      <div>
        <table class="table">
          <thead>
          <tr>
            <th>Format</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <mat-radio-button *ngFor="let sp of sizePrice" [checked]="sp.checked" (change)="setChange(sp)">{{sp.size}} {{sp.price}}</mat-radio-button>
            <td>
          </tr>
          </tbody>
        </table>
      </div>

      <a routerLink="/products">Return in products list</a>
    </mat-card-content>
    <mat-card-actions class="center">
      <button (click)="OnAdd()"
              mat-mini-fab class="buttonRound">+
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="align-self-center">
  <div class="col-lg-12">
    <div class="divScroll">
      <img class="imgSmall"
           *ngFor="let OtherProduct of products"
           [src]="'data:image/jpg;base64,'+OtherProduct.images[0]"
           (click)="OnClick(OtherProduct.id)">
    </div>
  </div>
</div>
